#icagenda .icinfo #detail-date-list,
#icagenda .content .cat {
	display: none;
}

#icagenda .content h2 {
	margin-top: 0;
}

#icagenda .event .table {
	margin-bottom: 0;
	width: 95%;
}

.vbMessageInner {
	margin-left: 10px;
}

.vbMessageTitle {
    line-height: 16px;
}

#jform_contact_message {
	height: 100px;
}

#icagenda .icinfo .image {
	float: right;
}

.tm-logo-small {
    letter-spacing: 1px;
}

@media (max-width: 550px) {
	#icagenda .icinfo .image { width: 100%; }
}